@use '../abstracts/variables' as *;

html {
  font-family: $font-family-base;
  font-size: 100%;
}

body {
  min-height: 100dvh;
  background-color: $color-background;
  color: $color-text;
  font-size: $font-size-md;
  line-height: 1.5;
}

#root {
  min-height: 100dvh;
}

h1,
h2,
h3 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}
