@use 'shared/styles/abstracts/variables' as *;

.profil-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-sm;
}

.profil-stats__card {
  display: flex;
  flex-direction: column;
  gap: $spacing-3xs;
  padding: $spacing-md;
  border-radius: $radius-lg;
  background-color: $color-surface;
}

.profil-stats__value {
  color: $color-text;
  font-family: $font-family-heading;
  font-weight: $font-weight-semibold;
  font-size: $font-size-xl;
}

.profil-stats__label {
  color: $color-text-muted;
  font-size: $font-size-xs-plus;
}
