@use 'shared/styles/abstracts/variables' as *;

.home-page {
  display: flex;
  flex-direction: column;
  background-color: $color-background;
  color: $color-text;
}

.home-page__content {
  padding: $spacing-md $spacing-lg $spacing-xl;
}
